<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create province</title>
</head>
<body>
<h1>Create province</h1>
<p>
    <a href="/provinces">Provinces list</a>
</p>
<th:block th:if="${success}">
    <p style="color: blue" th:text="${success}"></p>
</th:block>
<form th:action="@{/provinces/create}" th:object="${province}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Save Province"></td>
        </tr>
    </table>
</form>
</body>
</html>